[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-bootstrap5 = "*"
gunicorn = "*"
python-decouple = "*"
django-decouple = "*"

[dev-packages]

[requires]
python_version = "3.13"
